.discover-integration-program-container {
  width: 100%;
  position: relative;

  &__background {
    position: absolute;
    background-color: var(--color-primary-90);
    clip-path: polygon(100% 0, 100% 25%, 40% 100%, 0 100%, 0 0);
    width: 100%;
    height: 100%;
  }

  & h1 {
    position: relative;
    width: 806px;
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-bold);
    font-size: clamp(var(--font-size-large), 5vw, var(--font-size-1));
    text-align: center;
    width: 100%;
    color: var(--color-neutral-0);
    margin-top: var(--spacing-96);
    margin-bottom: var(--spacing-32);;
    padding: 0 var(--spacing-16);
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: var(--spacing-32);
    margin-bottom: var(--spacing-64);

    &__card {
      // width: 256px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      & img {
        margin: var(--spacing-32);
      }

      & h3 {
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-large);
        text-align: center;
        color: var(--color-neutral-0);
      }

      & p {
        width: 256px;
        font-family: var(--font-family-body);
        font-size: (--font-size-medium);
        color: var(--color-neutral-0);
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .discover-integration-program-container {
    height: auto;

    &__background {
      clip-path: polygon(100% 0, 100% 75%, 40% 100%, 0 100%, 0 0);
    }
  }
  .discover-integration-program-container__cards {
    flex-direction: column;
    align-items: center;
  }
}