.company-value-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-64);
  padding: var(--spacing-64) var(--spacing-48);

  width: 100%;

  &__title {
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-32);
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }


}