.awards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-64);
  padding: var(--spacing-80) var(--spacing-48);
  width: 100%;
  background-color: var(--color-neutral-0);

  &__title {
    text-align: center;
    max-width: 14ch;
    color: var(--color-neutral-100);
  }

  &__slider {
    position: relative;
    width: 80%;
    height: 320px;
    overflow: hidden;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 1)), color-stop(75%, rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-32);
    padding: var(--spacing-24);
  }


  @keyframes awards-section--primary {
    from {
      transform: translate(0%, -50%);
    }
    to {
      transform: translate(-100%, -50%);
    }
  }

  @keyframes awards-section--secondary {
    from {
      transform: translate(100%, -50%);
    }
    to {
      transform: translate(0%, -50%);
    }
  }

  .award-item > * {
    color: var(--color-neutral-100);
  }
}