.experts-voice-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-48);
  padding: var(--spacing-64) var(--spacing-16);

  width: 100%;

  @media screen and (max-width: 480px) {
    padding: var(--spacing-48) var(--spacing-16);
    gap: var(--spacing-48);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__title {
    text-align: center;
    max-width: 32ch;
  }

  &__content {
    display: grid;
    grid-template-rows: repeat(3, 216px);
    grid-gap: var(--spacing-32);
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: var(--spacing-32);

    @media screen and (max-width: 1080px) {
      grid-template-rows: repeat(3, 460px);
    }
  }

  &__navigation {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
    justify-content: center;
  }

  &__pagination {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
    justify-content: center;
  }

  &__page {
    cursor: pointer;

    &.active {
      font-weight: var(--font-weight-bold);
      text-decoration: underline;
      cursor: auto;
    }
  }
}