/*EXEMPLE{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-64);
  padding: var(--spacing-64) var(--spacing-48);

  width: 100%;

  &__title {
    text-align: center;

    span {
      font-family: var(--font-family-heading);
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-32);
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: var(--breakpoint-tablet-large);
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-32);
    list-style-type: none;
  }

}*/
.advice-intro-section {
  margin: 0 auto;
  padding: var(--spacing-32) var(--spacing-128) var(--spacing-48);
  /*@media screen and (max-width: 1280px) {
    padding: var(--spacing-32) var(--spacing-64) var(--spacing-64)
  }
  @media screen and (max-width: 768px) {
    padding: var(--spacing-32) var(--spacing-40) var(--spacing-64)
  }
  @media screen and (max-width: 480px) {
    padding: var(--spacing-24) var(--spacing-24) var(--spacing-32)
  }*/ }
  .advice-intro-section
  > div > div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 40px; }
  .advice-intro-section .img {
    float: left;
    width: 352px;
    height: 224px;
    margin-right: 35px; }
  .advice-intro-section__date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #002853; }
  .advice-intro-section__title {
    font-family: 'Expletus Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
    color: #002853;
    text-align: left; }
  .advice-intro-section__content {
    clear: both;
    display: flex;
    gap: var(--spacing-48); }
  .advice-intro-section__subtitle p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding: 16px 0; }
  .advice-intro-section__sommaire {
    background: #F3F5F6;
    padding: 32px 70px; }
    .advice-intro-section__sommaire .title {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #FF4D29; }
    .advice-intro-section__sommaire ul {
      list-style-type: none; }
    .advice-intro-section__sommaire a {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #002853; }
  .advice-intro-section__texte p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    padding: 16px 0; }
  .advice-intro-section .lien {
    margin: 32px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }

/*# sourceMappingURL=style.css.map */
